- name: StopServices
  service:
      name: httpd
      state: stopped
  become: true
  become_method: sudo

- name: StartServices
  service:
     name: httpd
     state: started
  become: true
  become_method: sudo