- name: System host name
  setup: filter=ansible_hostname
  register: system_hostname
- debug: var=system_hostname

- name: System IP Information
  setup: filter=ansible_all_ipv4_addresses
  register: system_ip
- debug: var=system_ip

- name: System not root process count
  shell: ps -ef | awk '{if ( $1 != "root" ) { print }}' | sed '1 d' | wc -l
  register: system_nonroot_process_count
- debug: var=system_nonroot_process_count

- name: System Uptime
  shell: uptime
  register: system_uptime
- debug: var=system_uptime

- name: HTTP Service status check
  command: systemctl status httpd
  ignore_errors: yes
  register: result

- name: Stop httpd services Request
  command: echo " HTTPD Service is going to be stopped"
  notify: StopServices
  when: result|succeeded

- name: Start httpd services Request
  command: echo " HTTPD Service is going to be started"
  notify: StartServices
